<app-ventana>loading</app-ventana>
<br />
<button nz-button (click)="addRow()" nzType="primary">Add</button>
<br />
<nz-table id="content" #editRowTable nzBordered [nzData]="listOfData">
  <thead>
    <tr>
      <th nzWidth="30%">Raza</th>
      <th>Nombre del perro</th>
      <th>Nombre del dueño</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of editRowTable.data" class="editable-row">
      <td>
        <div class="editable-cell" [hidden]="editId === data.id" (click)="startEdit(data.id)">
          {{ data.name }}
        </div>
        <input [hidden]="editId !== data.id" type="text" nz-input [(ngModel)]="data.name" (blur)="stopEdit()" />
      </td>
      <td>{{ data.age }}</td>
      <td>{{ data.address }}</td>
      <td>
        <a nz-popconfirm nzPopconfirmTitle="Sure to delete?" (nzOnConfirm)="deleteRow(data.id)">Delete</a>
      </td>
    </tr>


    <input type="button" value="Download PDF" class="btn btn-success">

  </tbody>
  </nz-table>
